<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="storeApp.productProduct.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ product.id }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.productProduct.name">Name</span></dt>
          <dd>
            <span>{{ product.name }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.productProduct.description">Description</span></dt>
          <dd>
            <span>{{ product.description }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.productProduct.price">Price</span></dt>
          <dd>
            <span>{{ product.price }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.productProduct.sise">Sise</span></dt>
          <dd>
            <span jhiTranslate="{{ 'storeApp.Sise.' + product.sise }}">{{ product.sise }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.productProduct.image">Image</span></dt>
          <dd>
            @if (product.image) {
              <div>
                <a (click)="openFile(product.image, product.imageContentType)">
                  <img
                    [src]="'data:' + product.imageContentType + ';base64,' + product.image"
                    style="max-width: 100%"
                    alt="product image"
                  />
                </a>
                {{ product.imageContentType }}, {{ byteSize(product.image) }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Înapoi</span>
        </button>

        <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editare</span>
        </button>
      </div>
    }
  </div>
</div>
